.hiddenLogoutBtnParent {
  position: relative;
}
.hiddenLogoutBtn {
  position: absolute;
  display: none;
  right: 2px;
  bottom: -30px;
}
.hiddenLogoutBtnParent:hover .hiddenLogoutBtn {
  display: inline-block;
}

.rotate {
  display: inline-block;
  animation: rotate 10s linear infinite; /* Adjust duration and timing function as needed */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}